.nodejs-window{
	border:0px solid #efefef;
	border-radius: 3px;
}
.nodejs-window>.header{
	border-top:2px solid cornflowerblue;
/*	border-bottom: 1px solid #ececec;*/
/*	background:#efefef;*/
	line-height: 40px;
	padding-left:7px;
	border-radius: 3px 3px 0 0;
	font-size:14px;
	
}
.nodejs-window>.header a{
	display: block;
	width:12px;
	height:12px;
	background: #efefef;
}
.nodejs-window>.header a:hover{
	display: block;
	width:12px;
	height:12px;
	background: orangered;
}
.nodejs-window>.header:hover{
	border-top:2px solid seagreen;
/*	border-bottom: 1px solid #ececec;*/
/*	background:#efefef;*/
	line-height: 40px;
	padding-left:7px;
	border-radius: 3px 3px 0 0;
	font-size:14px;
/*	background:#efefef;*/
	
}