.s2-ui-form{
	padding: 10px;
	margin: 0;
}

.form-group {
  margin-bottom: 15px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px 9;
  line-height:normal;
}


.textfield{
	display: block;
    width: 100%;
    height: 34px;
   padding: 6px 12px;
    font-size: 14px;
    line-height: 34px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.textfield:focus{
	border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.textfield:not(select) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
form .fa-info-circle{
  position:relative;
  float: right;
  right: 10px;
  top:-25px;
  z-index: 2;
  color: #a94442;
}
.checkbox .fa-info-circle{
  position:relative;
  float: right;
  right: 10px;
  top:9px;
  z-index: 2;
  color: #a94442;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 34px;
  
}
.radio label,
.checkbox label {
  min-height: 20px;
  padding-left: 20px;
  line-height: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-top: 4px;
  margin-left: -20px;
}

.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}

.has-error {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-error:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.data-time{
  display: inline-block;
  word-spacing:normal;
  white-space: nowrap;
}
.data-time>.textfield{
  display: inline-block;
  width:auto;
  border-radius: 4px 0 0 4px;
  white-space: nowrap;
  border-right: none;
}
.data-time>.add-on{
  margin-left:0;
  border-radius: 0 4px 4px 0;
  white-space: nowrap;
  height: auto;
  padding: 0;
  width:34px;
  line-height: 32px;
}